[COMMANDS]
# Format -> Action=RequiredParams|OptionalParams
# Use a semicolon (;) to separate multiple parameters

PICK=FROM:ValidPods|ARM:ValidArms;SLOTS
PLACE=TO:ValidPods|ARM:ValidArms;SLOTS
MOVE=ARM:ValidArms;R;T;Z;W
HOME=|
STAT=|
CONFIG=DW|

[HARDWARE]
# Format -> Key=ValidOption1,ValidOption2

ValidPods=LPA1,LPA2
ValidArms=UPPER,LOWER
